/* Base Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
    position: relative;
    background: linear-gradient(90deg, #ffffff, #f8f9fa);
    width: 100%;
    box-sizing: border-box;
}



/* Logo Styles */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    width: 130px;
    transition: transform 0.3s;
}

.nav-logo:hover img {
    transform: scale(1.05);
}

/* Menu Styles */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #343a40;
    /* Darker shade for contrast */
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-menu li:hover {
    color: #FF4141;
}

/* Underline Effect */
.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
    
    transition: opacity 0.3s ease-in-out;
}

/* Login & Cart Styles */
.nav-login-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-login-cart .loginicon {
    width: 85px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background 0.3s;
}


.cart-icon{
    width:35px;
}



.nav-cart-count{
    position: absolute;
   width: 18px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
  margin-top: -35px;
  margin-left: -55px;
   border-radius: 11px;
   font-size: 14px;
   background: red;
   color: white;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .nav-menu {
        gap: 30px;
        font-size: 18px;
    }
}

.nav-dropdown {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }

    .nav-logo img {
        width: 100px;
    }

    .nav-dropdown {
        margin-left: 50px;
        margin-top: 10px;
        display: block;
        width: 22px;
        rotate: -180deg;
        transition: 0.5s;
    }

    .nav-menu {
        display: none;
        height: 55px;
        width: 100%;
        position: absolute;
      
        justify-content: center;
        top: 85px;

    }

    .nav-menu-visible {
        display: flex;
    }

    .nav-dropdown.open {
        transform: rotate(180deg);
    }

    .nav-login-cart {
        margin-top: 6px;
        display: flex;
        align-items: center;
    }

    .nav-login-cart img {
        width: 38px;
    }

    
   
}

@media screen and (max-width: 480px) {
    .nav-logo img {
        width: 80px;
    }

    .nav-menu {
       
        height: 35px;
        font-size: 16px;
    }

    .nav-dropdown {
        margin-right: 40px;
    }

    .nav-login-cart img {
        width: 35px;
        margin-left: -10px;
    }

}